<div class="container">
  <h1>CRUD OPERTAION USING ANGULAR + ASP.NET CORE</h1>

  <div class="card-Container">
    <div class="card-form">
      <form action="">
        <div class="form-group">
          <label for="">Card Name</label>
          <input type="text" name="CardName" id="" >
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
          <input type="text" name="CardNumber" id="" >
        </div>
        <div class="form-group">
          <label for="">CVC</label>
          <input type="text" name="CVC" id="" placeholder="">
        </div>
        <div class="form-group">
          <label for="">Expiry Month</label>
          <input type="text" name="expiryMonth" id="" placeholder="">
        </div>
        <div class="form-group">
          <label for="">Expiry year</label>
          <input type="text" name="expiryYear" id="" placeholder="">
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>
    <div class="card-grid">
      <div class="card-row">
        <div class="card-row-details">
          <span>Kiprono Ezra</span>
          <span>1234432167898765</span>
        </div>
        <div class="card-row-action">
          <a ><i class="las la-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>